* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #eee;
}

#container {
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	padding: 1em 2em;
}

h1 {
	text-align: center;
	color: #666;
}

.card {
	float: left;
	max-width: 220px;
	margin: 8px;
	border: 1px solid #ccc;
	background: #fff;
	text-align: center;
	padding: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card a {
	text-decoration: none;
	font-style: 13px;
	font-weight: bold;
	color: #333;
}

.card:hover {
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	-webkit-box-shadow: 0px 1px 3px 2px #ccc;
	box-shadow: 0px 1px 3px 2px #ccc;
}

.card p {
	padding-bottom: 7px;
}

#description {
	font-size: 14px;
	color: #666;
	padding: 20px 0;
}

#description img {
	float: left;
	width: 100%;
	max-width: 400px;
	-webkit-box-shadow: 0px 1px 3px 2px #ccc;
	box-shadow: 0px 1px 3px 2px #ccc;
	margin: 0 10px 10px 0;
}

#description a {
	color: #168cbf;
}

.back {
	margin-top: 20px;
}