$color: rgb(24, 170, 141);

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, input::-webkit-input-placeholder, button, .success {
    transition: all 0.3s ease-in-out;
}

h1 {
    width: 100%;
    font-size: 18px;
    background: darken($color, 4%);
    color: white;
    border-radius: 3px 3px 0 0;
    padding: 20px;
}

form {
    box-sizing: border-box;
    width: 100%;
    max-width: 570px;
    margin: 20px auto 0;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.2);
    padding-bottom: 40px;
    border-radius: 3px;
    h1 {
        text-align: center;
        box-sizing: border-box;
    }
}

input {
    margin: 40px auto;
    width: 90%;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px $color;
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $color 4%);
    background-position: -600px 0;
    background-size: 600px 100%;
    background-repeat: no-repeat;
    color: darken($color, 20%);
    &:focus {
        box-shadow: none;
        outline: none;
        background-position: 0 0;
        &::-webkit-input-placeholder {
            color: $color;
            font-size: 11px;
            transform: translateY(-20px);
            visibility: visible !important;
        }
    }
}

button {
    display: block;
    margin: 0 auto;
    width: 91%;
    border: none;
    background: $color;
    cursor: pointer;
    border-radius: 50px;
    padding: 10px;    
    color: white;    
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    &::before {
        content: 'Enviar';
    }
    &:hover { 
        transform: scaleX(0.9);
        box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
    }
    &:focus {
        opacity: 0.5;
    }
}

#mapRenderer {
    margin-left: 30%;
}

#mapRenderer img {
    width: 50%;
    padding-bottom: 30px;
}

.success {
    display: none;
    margin: 25px auto -20px auto;
    width: 100%;
    max-width: 498px;
    text-align: center;
    font-size: 13px;
    color: rgb(9, 142, 7);
    background: rgb(198, 244, 206);
    border-radius: 50px;
    padding: 10px;
}